S3method(dummify,character)
S3method(dummify,data.frame)
S3method(dummify,default)
S3method(dummify,factor)
S3method(dummify,matrix)
S3method(dummify,numeric)
S3method(vnorm,default)
S3method(vnorm,matrix)
S3method(vnorm,numeric)
export(dummify)
export(dummify_dataframe)
export(dummify_factor)
export(dummify_matrix)
export(dummify_vector)
export(eigen_values)
export(hat_matrix)
export(identity_matrix)
export(inf_norm)
export(lower_triangular)
export(max_norm)
export(one_norm)
export(ones)
export(ones_matrix)
export(ones_vector)
export(orthogonal)
export(projector)
export(rank_matrix)
export(singular_values)
export(tr)
export(trace_matrix)
export(upper_triangular)
export(vnorm)
export(zeros)
export(zeros_matrix)
export(zeros_vector)
