S3method(dummify,character)
S3method(dummify,data.frame)
S3method(dummify,default)
S3method(dummify,factor)
S3method(dummify,matrix)
S3method(dummify,numeric)
S3method(vectorize,data.frame)
S3method(vectorize,default)
S3method(vectorize,matrix)
S3method(vectorize,numeric)
S3method(vnorm,default)
S3method(vnorm,matrix)
S3method(vnorm,numeric)
export(center_data)
export(check_metric)
export(dummify)
export(dummify_dataframe)
export(dummify_factor)
export(dummify_matrix)
export(dummify_vector)
export(eigen_values)
export(hat_matrix)
export(identity_matrix)
export(inf_norm)
export(inner_prod)
export(lower_triangular)
export(matrix_inner_prod)
export(matrix_rank)
export(max_norm)
export(mnorm)
export(normalize)
export(one_norm)
export(ones)
export(ones_matrix)
export(ones_vector)
export(orthogonal)
export(power_method)
export(projector)
export(pseudoinverse)
export(rank_matrix)
export(rank_reduction)
export(singular_values)
export(smart_svd)
export(svd_positive)
export(svd_tall)
export(svd_wide)
export(tr)
export(trace_matrix)
export(upper_triangular)
export(vec)
export(vector_inner_prod)
export(vectorize)
export(vnorm)
export(wedderburn)
export(weighted_average)
export(zeros)
export(zeros_matrix)
export(zeros_vector)
import(tester)
import(turner)
importFrom(MASS,ginv)
